---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<p><strong>This blog has moved</strong> to <a href="https://tmke8.github.io/blog">https://tmke8.github.io/blog</a>.
<p>So, replace <code>thomkeh</code> in the URL with <code>tmke8</code>.
